/target
*.deb
*.buildinfo
*.changes
*.dsc
*.tar.xz
*.tar.gz

debian/.debhelper/
debian/debhelper-build-stamp
debian/disgreet/
debian/disgreet-dbgsym/
debian/files
debian/*.substvars
debian/tmp/
debian/cargo_home

.cargo-checksum.json
